<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Edit Record</title>
</head>
<body>

<%- include('./partials/nav')%>

<div class="container mt-3">
    <img src="<%=record.inputImageURL%>" width="400px">
    <form action="/record/edit/<%=record._id%>" method="post">
        <div class="mb-3">
            <label for="identification_number" class="form-label">identification_number</label>
            <input type="text" class="form-control" id="identification_number" name="identification_number" aria-describedby="identification_number" value="<%=record.identification_number%>">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">name</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="name" value="<%=record.name%>">
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">last_name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" aria-describedby="last_name" value="<%=record.last_name%>">
        </div>
        <div class="mb-3">
            <label for="date_of_birth" class="form-label">date_of_birth</label>
            <input type="text" class="form-control" id="date_of_birth" name="date_of_birth" aria-describedby="date_of_birth" value="<%=record.date_of_birth%>">
        </div>
        <div class="mb-3">
            <label for="date_of_issue" class="form-label">date_of_issue</label>
            <input type="text" class="form-control" id="date_of_issue" name="date_of_issue" aria-describedby="date_of_issue" value="<%=record.date_of_issue%>">
        </div>
        <div class="mb-3">
            <label for="date_of_expiry" class="form-label">date_of_expiry</label>
            <input type="text" class="form-control" id="date_of_expiry" name="date_of_expiry" aria-describedby="date_of_expiry" value="<%=record.date_of_expiry%>">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
</div>

<%- include('./partials/scripts')%>
</body>
</html>