<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
    <style>
        .fixed-size-image {
            width: 286px; /* Set the desired width */
            height: 150px; /* Set the desired height */
            object-fit: cover; /* Optional: maintain aspect ratio and cover the container */
        }
    </style>
</head>
<body>

<%- include('./partials/nav') %>

<%- include('./historyPartials/dropDownForm') %>

<%- include('./historyPartials/records') %>

<%- include('./partials/scripts') %>
</body>
</html>
