<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
</head>
<body>

<%- include('./partials/nav') %>

<%- include('./historyPartials/dropDownForm') %>

<%- include('./historyPartials/records') %>

<%- include('./partials/scripts') %>
</body>
</html>
